#sex{
    margin-left: 50px;
}
#email{
    margin-left: 40px;
}

#registerButton{
    width: 90px;
    height: 50px;
    font-weight: bolder;
}




#resetButton{
    width: 90px;
    height: 50px;
    font-weight: bolder;
}

