

.form{
  margin: 50px;
}



td{
  padding: 10px;

}


.titulo{
  border-left-style: none;
  border-right-style: none;
  border-top-style: none ;
}

.conteudo{
  border-left-style: none;
  border-right-style: none;
  border-top-style: none ;
  border-bottom-style: none ;
}

#contenth2{
  margin-bottom: 100px;  
  color: rgba(0, 0, 0, 0.521);
}



#submitbutton {
  margin-left: 50px;
}